.example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }



.add-container {
  width: 800px;
  max-width: 100%;
  display: inline-block;
}

.center {
    display: block;
    margin-top: 100px;
}

