<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span style="cursor: pointer;" routerLink="/home">Gestion des assignments</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="menu" aria-label="Utilisateur connecté">
      <mat-icon>supervised_user_circle</mat-icon>
      <span>Utilisateur</span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span (click)="logout()">Se déconnecter</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="example-spacer"></span>
    <button routerLink="/add" mat-raised-button aria-label="Ajouter un assignment">
      <mat-icon>add</mat-icon>
      <span>Ajouter un assignment</span>
    </button>
  </mat-toolbar-row>

</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>